# Text ------------------------
snippet tx "<T></T>"
<T p=`p(${0}) f=`size(${1})>("${2}" |> str)</T>
endsnippet

# Flex ------------------------
snippet fx "<Flex></Flex>"
<Flex p=`p(${0}) m=`m(${1}))>${2}</Flex>
endsnippet
