configstore
fisherman
fish
!fish/aliases.fish
!fish/config.fish
!fish/functions/b.rb
!fish/functions/e.fish
!fish/functions/z.fish
fish/sensitive.fish
vim/.netrwhist
vim/plugged/**
nvim/.netrwhist
nvim/plugged/**
coc/extensions/node_modules
bin/ngrok
.DS_Store
alacritty
yarn
heroku
nvim/.netrwhist
code_access_token.txt
